<h1>Clubhouse</h1>
<h2>Posts</h2>
<% @posts.each do |post| %>
  <article class="post">
    <% if user_signed_in? %>
      <p id="username">@<%= post.user.username %></p>
    <% else %>
      <p id="username" class="hidden-text">@<%= '*' * post.user.username.length %></p>
    <% end %>
    <p><%= post.message %></p>
    <p><%= link_to "link", post_path(post) %></p>
  </article>
<% end %>

<%= link_to "Create a new post", new_post_path %>
