<!DOCTYPE html>
<html>
  <head>
    <title>Clubhouse</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <section class="flash flash-notice">
        <p><%= notice %></p>
      </section>
    <% end %>
    <% if flash[:alert] %>
      <section class="flash flash-alert">
        <p><%= alert %></p>
      </section>
    <% end %>
    <nav>
      <%= link_to "Home", root_path %>
      <% if user_signed_in? %>
        <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'Sign In', user_session_path %>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
